.theme-dark,
.theme-light {
    /* Lightness */
    --SKIN-lightness: 0%;

    /* Grading */
    --SKIN-grading-0: 0%;
    --SKIN-grading-1: -2%;
    --SKIN-grading-2: 5.5%;
    --SKIN-grading-3: 9%;

    /* Interactive */
    --SKIN-interactive-h: 360;
    --SKIN-interactive-s: 0%;
    --SKIN-interactive-l: 80%;
    --SKIN-interactive-a: 1.0;

    /* Background */
    --SKIN-background-h: 240;
    --SKIN-background-s: 25%;
    --SKIN-background-l: 20%;
    --SKIN-background-a: 1.0;

    /* Accent */
    --SKIN-accent-h: 256;
    --SKIN-accent-s: 86%;
    --SKIN-accent-l: 58%;
    --SKIN-accent-a: 1.0;

    /* Green */
    --SKIN-green-h: 144;
    --SKIN-green-s: 85%;
    --SKIN-green-l: 43%;
    --SKIN-green-a: 1.0;

    /* Yellow */
    --SKIN-yellow-h: 44;
    --SKIN-yellow-s: 97%;
    --SKIN-yellow-l: 50%;
    --SKIN-yellow-a: 1.0;

    /* Red */
    --SKIN-red-h: 1;
    --SKIN-red-s: 95%;
    --SKIN-red-l: 57%;
    --SKIN-red-a: 1.0;

    /* Purple */
    --SKIN-purple-h: 278;
    --SKIN-purple-s: 100%;
    --SKIN-purple-l: 50%;
    --SKIN-purple-a: 1.0;
}