.theme-dark,
.theme-light {
    /* Text Colors */
    --SKIN-text-primary: hsla(var(--SKIN-interactive-h), calc(var(--saturation-factor) * var(--SKIN-interactive-s) - 13%), calc(var(--SKIN-interactive-l) + 25% + var(--SKIN-lightness)), 1);
    --SKIN-text-secondary: hsla(var(--SKIN-interactive-h), calc(var(--saturation-factor) * var(--SKIN-interactive-s) - 13%), calc(var(--SKIN-interactive-l) - 0% + var(--SKIN-lightness)), 1);
    --SKIN-text-tertiary: hsla(var(--SKIN-interactive-h), calc(var(--saturation-factor) * var(--SKIN-interactive-s) - 13%), calc(var(--SKIN-interactive-l) - 25% + var(--SKIN-lightness)), 1);

    /* Interactive Colors */
    --SKIN-interactive-normal: hsla(var(--SKIN-interactive-h), calc(var(--saturation-factor) * var(--SKIN-interactive-s)), calc(var(--SKIN-interactive-l) - 10% + var(--SKIN-lightness)), var(--SKIN-interactive-a));
    --SKIN-interactive-hover: hsla(var(--SKIN-interactive-h), calc(var(--saturation-factor) * var(--SKIN-interactive-s)), calc(var(--SKIN-interactive-l) + 10% + var(--SKIN-lightness)), var(--SKIN-interactive-a));
    --SKIN-interactive-active: hsla(var(--SKIN-interactive-h), calc(var(--saturation-factor) * var(--SKIN-interactive-s)), calc(var(--SKIN-interactive-l) + 20% + var(--SKIN-lightness)), var(--SKIN-interactive-a));
    --SKIN-interactive-muted: hsla(var(--SKIN-interactive-h), calc(var(--saturation-factor) * var(--SKIN-interactive-s)), calc(var(--SKIN-interactive-l) - 20% + var(--SKIN-lightness)), calc(var(--SKIN-interactive-a) - 0.6));

    /* Background Colors */
    --SKIN-background-primary: hsla(var(--SKIN-background-h), calc(var(--saturation-factor) * var(--SKIN-background-s)), calc(var(--SKIN-background-l) - var(--SKIN-grading-3) + var(--SKIN-lightness)), var(--SKIN-background-a));
    --SKIN-background-secondary: hsla(var(--SKIN-background-h), calc(var(--saturation-factor) * var(--SKIN-background-s)), calc(var(--SKIN-background-l) - var(--SKIN-grading-2) + var(--SKIN-lightness)), var(--SKIN-background-a));
    --SKIN-background-secondary-alt: hsla(var(--SKIN-background-h), calc(var(--saturation-factor) * var(--SKIN-background-s)), calc(var(--SKIN-background-l) - var(--SKIN-grading-1) + var(--SKIN-lightness)), var(--SKIN-background-a));
    --SKIN-background-tertiary: var(--SKIN-background-primary);

    /* Accent Color */
    --SKIN-accent-primary: hsla(var(--SKIN-accent-h), calc(var(--saturation-factor, 1) * var(--SKIN-accent-s)), calc(var(--SKIN-accent-l) + var(--SKIN-lightness)), calc(var(--SKIN-accent-a) - 0.0));
    --SKIN-accent-secondary: hsla(var(--SKIN-accent-h), calc(var(--saturation-factor, 1) * var(--SKIN-accent-s)), calc(var(--SKIN-accent-l) + var(--SKIN-lightness)), calc(var(--SKIN-accent-a) - 0.2));
    --SKIN-accent-tertiary: hsla(var(--SKIN-accent-h), calc(var(--saturation-factor, 1) * var(--SKIN-accent-s)), calc(var(--SKIN-accent-l) + var(--SKIN-lightness)), calc(var(--SKIN-accent-a) - 0.4));

    /* Green Color */
    --SKIN-green-primary: hsla(var(--SKIN-green-h), calc(var(--saturation-factor, 1) * var(--SKIN-green-s)), calc(var(--SKIN-green-l) + var(--SKIN-lightness)), calc(var(--SKIN-green-a) - 0.0));
    --SKIN-green-secondary: hsla(var(--SKIN-green-h), calc(var(--saturation-factor, 1) * var(--SKIN-green-s)), calc(var(--SKIN-green-l) + var(--SKIN-lightness)), calc(var(--SKIN-green-a) - 0.2));
    --SKIN-green-tertiary: hsla(var(--SKIN-green-h), calc(var(--saturation-factor, 1) * var(--SKIN-green-s)), calc(var(--SKIN-green-l) + var(--SKIN-lightness)), calc(var(--SKIN-green-a) - 0.4));

    /* Yellow Color */
    --SKIN-yellow-primary: hsla(var(--SKIN-yellow-h), calc(var(--saturation-factor, 1) * var(--SKIN-yellow-s)), calc(var(--SKIN-yellow-l) + var(--SKIN-lightness)), calc(var(--SKIN-yellow-a) - 0.0));
    --SKIN-yellow-secondary: hsla(var(--SKIN-yellow-h), calc(var(--saturation-factor, 1) * var(--SKIN-yellow-s)), calc(var(--SKIN-yellow-l) + var(--SKIN-lightness)), calc(var(--SKIN-yellow-a) - 0.2));
    --SKIN-yellow-tertiary: hsla(var(--SKIN-yellow-h), calc(var(--saturation-factor, 1) * var(--SKIN-yellow-s)), calc(var(--SKIN-yellow-l) + var(--SKIN-lightness)), calc(var(--SKIN-yellow-a) - 0.4));

    /* Red Color */
    --SKIN-red-primary: hsla(var(--SKIN-red-h), calc(var(--saturation-factor, 1) * var(--SKIN-red-s)), calc(var(--SKIN-red-l) + var(--SKIN-lightness)), calc(var(--SKIN-red-a) - 0.0));
    --SKIN-red-secondary: hsla(var(--SKIN-red-h), calc(var(--saturation-factor, 1) * var(--SKIN-red-s)), calc(var(--SKIN-red-l) + var(--SKIN-lightness)), calc(var(--SKIN-red-a) - 0.2));
    --SKIN-red-tertiary: hsla(var(--SKIN-red-h), calc(var(--saturation-factor, 1) * var(--SKIN-red-s)), calc(var(--SKIN-red-l) + var(--SKIN-lightness)), calc(var(--SKIN-red-a) - 0.4));

    /* Purple Color */
    --SKIN-purple-primary: hsla(var(--SKIN-purple-h), calc(var(--saturation-factor, 1) * var(--SKIN-purple-s)), calc(var(--SKIN-purple-l) + var(--SKIN-lightness)), calc(var(--SKIN-purple-a) - 0.0));
    --SKIN-purple-secondary: hsla(var(--SKIN-purple-h), calc(var(--saturation-factor, 1) * var(--SKIN-purple-s)), calc(var(--SKIN-purple-l) + var(--SKIN-lightness)), calc(var(--SKIN-purple-a) - 0.2));
    --SKIN-purple-tertiary: hsla(var(--SKIN-purple-h), calc(var(--saturation-factor, 1) * var(--SKIN-purple-s)), calc(var(--SKIN-purple-l) + var(--SKIN-lightness)), calc(var(--SKIN-purple-a) - 0.4));

    /* Message */
    --SKIN-mentioned-message-normal: hsla(var(--SKIN-red-h), calc(var(--saturation-factor, 1)*85.6%), 64.7%, 0.07);
    --SKIN-mentioned-message-hover: hsla(var(--SKIN-red-h), calc(var(--saturation-factor, 1)*85.6%), 64.7%, 0.03);
    --SKIN-message-hover: hsla(var(--SKIN-background-h), calc(var(--saturation-factor) * var(--SKIN-background-s)), calc(var(--SKIN-background-l) - var(--SKIN-grading-3) - 5% + var(--SKIN-lightness)), 0.2);
}