.container-2McqkF {
    transform: translateX(-105px);

    &.elevationBorderHigh-3drnJX{
        box-shadow: var(--elevation-high);
        border: none;
        border-radius: var(--radius-secondary);
    }
}