// Toggles
.container-2nx-BQ {
    background-color: var(--background-secondary-alt) !important;
    &.checked-25WXMf {
        background-color: var(--green-primary) !important;
    }
}

// Radio Boxes
div[role*="radiogroup"]{
    padding: 10px;
    padding-bottom: 5px;
    background-color: var(--background-secondary);
    border-radius: var(--radius-secondary);
    
    .item-2idW98.horizontal-1Piu5-/*.itemFilled-1cPbtg*/{
        background-color: var(--background-secondary-alt);
        border-radius: var(--radius-secondary);
        transition: 125ms linear;

        &:hover{
            background-color: var(--background-primary);
        }
        &[aria-checked="true"]{
            background-color: var(--background-primary);
        }
    }
}

// Radio boxes in Permission togglers in role settings
.permissionsForm-35gjPz {
    .group-LWHoGI {
        padding: 0 !important;
        border: none;
        gap: 5px;
        background-color: transparent;

        .item-4m-12I {
            background-color: var(--background-secondary);
            transition: .2s ease;
            border-radius: var(--radius-tertiary);

            &:hover,
            &.selected-3jieYB {
                background-color: var(--background-secondary-alt);
            
                &.allow-1h61-Z {
                    background-color: var(--green-primary);
                    color: var(--interactive-active);
                }

                &.deny-1GO6vI {
                    background-color: var(--red-primary);
                    color: var(--interactive-active);
                }

            }
        }
    }
}

// Dropdown button
.lookFilled-1GseHa.select-1Ia3hD {
    background-color: var(--background-secondary);
    border-radius: var(--radius-secondary);
}

// Dropdowns
.layer-2aCOJ3 {
    border-radius: var(--radius-secondary);
    .popout-1KHNAq {
        --scrollbar-thin-thumb: var(--background-primary);
        --scrollbar-auto-thumb: var(--background-primary);
        --scrollbar-auto-scrollbar-color-thumb: var(--background-primary);
        
        border: none;
        border-radius: inherit;
        box-shadow: var(--elevation-high);
        transform: translate(0, 10px);
        max-height: 350px !important;
        padding-top: 4px;
        padding-bottom: 7px;
        .option-2eIyOn {
            border-radius: var(--radius-secondary);
            margin: 5px;
            margin-bottom: 0px;
        }
    }
}