/* discord text on top left */
.wordmarkWindows-2dq6rw {
    opacity: 0;
  }
  
  .withFrame-2dL45i {
    height: 12px;
    margin: 5px 10px 0 0;
  
    &:hover .winButton-3UMjdg {
      opacity: 1;
    }
}
  

